@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);

/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;}

ul{list-style:none;}

table{border-collapse:collapse;border-spacing:0;}

caption,th{text-align:left;}

q:before,q:after{content:'';}

object,embed{vertical-align:top;}

legend{display:none;}

h1,h2,h3,h4,h5,h6{font-size:100%;}

img,abbr,acronym,fieldset{border:0;}


body{
	font: 14px/1.9 游ゴシック,'Noto Sans JP', Arial, Verdana,  YuGothic,'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', メイリオ, Meiryo,sans-serif;
	font-weight: 300;
	-webkit-text-size-adjust:100%;
	overflow-x: hidden;
	color: #333;
	background: #fff;
	text-align: center;
}

.wrap {
	overflow: hidden;
}

.wrap::before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url(img-sec03.jpg) center/cover no-repeat;
    -webkit-background-size: cover;
}


a{
	color: #0066ff;
	text-decoration: none;
}



/* sec01
=========================== */

.sec01 {
	width:100vw;
	height:100vh;	
	height: calc(var(--vh, 1vh) * 100);
}


.sec01-back {
	background-color: rgba(0,0,0,0.6);
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
	width: 100vw;
}

.copy {
	color:#fff;
	margin: 40vh auto 0;
	margin-top: calc(var(--vh, 1vh) * 40);
	font-size: 40px;
	display:inline-block;
	text-shadow: 1px 2px 1px #333;
}



/* sec02
=========================== */

.sec02 {
	width:100vw;	
}

.sec02-back {
	background-color: rgba(0,0,0,0.3);
	width: 100vw;	
}

.wrapper {
	background-color:rgba(255,255,255,0.8);
	width:100vw;
	display:inline-block;
}

h2 {
	font-size:40px;
	padding: 50px 0;
}

p {
	font-size: 22px;
	padding: 0 20px 70px;
	font-weight: bold;
	width: 50%;
	display: inline-block;
	text-align: left;

}

.sec02b {
	width: 100vw;
	height: 70vh;
	height: calc(var(--vh, 1vh) * 90);
}

.sec02b-back {
	background-color: rgba(0,0,0,0.3);
	width: 100vw;	
	height: 70vh;
	height: calc(var(--vh, 1vh) * 90);
}


/* sec03
=========================== */

.sec03 {
	height:100vh;
	height: calc(var(--vh, 1vh) * 100);
	width:100vw;
}


/* sec04
=========================== */

.sec04 {
	height:100vh;
	height: calc(var(--vh, 1vh) * 100);
	width:100vw;	
}

h3 {
	font-size: 80%;
}


/* sec01/sec02/sec03/sec04 レスポンシブ
=========================== */
@media (min-width:1000px) {
	h1 br {
		display: none;
	}
}

@media (max-width:1000px) {
	.wrap::before {
	    content: "";
	    display: block;
	    position: fixed;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100vh;
	    height: calc(var(--vh, 1vh) * 130);
	    z-index: -1;
	    background: url(img-sec03.jpg) center/cover no-repeat;
	    -webkit-background-size: cover;
	    background-position: -20px;
	}

	.copy {
		font-size: 6vw;
	}
	h2 {
		font-size: 10vw;
		padding-bottom: 50px;
	}
	p {
		font-size: 18px;
		width: 90%;
	}
}




/* sec05
=========================== */

.sec05 {
	background-color: white;
	margin-bottom: 0;
}


/* sec06
=========================== */
.sec06 {
	background-color: #E6E6E6;
}

.wrapper-table{
	width:100vw;
	display:inline-block;
	padding: 0 0 75px;
}

table {
	background-color: #ffffff;	
	margin: 0 auto;
}

table th, table td {
	border: solid 5px #E6E6E6;
	font-size: 22px;
	text-align: center;
	width: 20%;
	padding: 20px;
	font-weight: bold;	
}

table th {
	background-color: #a6a6a6;
	color: #ffffff;
}


/* sec07
=========================== */
.sec07 {
	height:160vh;
	height: calc(var(--vh, 1vh) * 160);
	width:100vw;
	
}

.copy p {
	display: block;
	width: 90%;
	text-align: center;
	padding-bottom: 40vh;
	padding-bottom: calc(var(--vh, 1vh) * 40);


}

.cv {
	margin: 12vh 0;
	margin-top: calc(var(--vh, 1vh) * 12);
	margin-bottom: calc(var(--vh, 1vh) * 12);
}

.cv a {
	background-color: rgba(3,3,3,0.4);
	padding: 20px 100px;
	border-radius: 40px;
	color:#ffffff;
	font-size:20px;
	font-weight: bold;
	box-shadow: 0 5px 5px rgba(255,255,255,0.3);
	border: 1px solid #ffffff;
}

a:hover {
	background-color: rgba(255,255,255,0.8);
	color: #333;
}

.cv:active {
	transform: translate(0,4px);
	border-bottom: none;
  }

a:active {
	box-shadow: 0px 0px rgba(255,255,255,0.3);
}

/* sec08
=========================== */
.sec08 {
	padding: 40px 0;
	background-color: white;	
}



/* sec06/sec07/sec08 レスポンシブ
=========================== */

@media (min-width:400px) {
	.br-sp {
		display:none;
	}
}

@media (max-width:1000px) {
	table {
		width: 95%;
		}
	.sec07 {
		background-position:-20px;
		background: none;
		}
}

@media (max-width:670px) {
	table th, table td {
		font-size: 12px;
		padding: 20px 10px;
	}
}

@media (max-width:400px) {
	.cv a {
		padding: 20px 40px;
	}
	.liverty-logo {
		width: 50vw;
	}
}


