@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);

/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;}

ul{list-style:none;}

table{border-collapse:collapse;border-spacing:0;}

caption,th{text-align:left;}

q:before,q:after{content:'';}

object,embed{vertical-align:top;}

legend{display:none;}

h1,h2,h3,h4,h5,h6{font-size:100%;}

img,abbr,acronym,fieldset{border:0;}


body{
    font: 14px/1.9 游ゴシック,'Noto Sans JP', Arial, Verdana,  YuGothic,'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', メイリオ, Meiryo,sans-serif;
    font-weight: 300;
    -webkit-text-size-adjust:100%;
    overflow-x: hidden;
    color: #333;
    background: #fff;
    text-align: center;

}

.wrap {
    overflow: hidden;
}



.parallax {
    min-height: 400px;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;    
}
.content {
    padding: 60px;
    background-color: #fff;
}
.parallax.bg-01 {
    background-image: url(img-sec01.jpg);
    height: 100vh;
}


.parallax.bg-02 {
    background-image: url(img-sec02.jpg);
}
.parallax.bg-03 {
    background-image: url(img-sec03.jpg);
}

.copy {
    color:#fff;
    margin: 40vh auto 0;
    font-size: 40px;
    display:inline-block;
}


